* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
nav,
img,
body,
figure,
section,
article,
span, ul, li {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  
}

a:hover {
  text-decoration: none;
}


img {
  vertical-align: middle;
}

body {
  font-family: Helvetica, Arial;
  font-size: 16px;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

.darkThemeT002{
  background-color: #1b1f24;
  a {
    color: white;
  }
  a:hover {
    color: #888888;
  }
}

.marginX80{
  margin: 0 auto;
  width: 80%;
}



@media screen and (max-width: 1440px) {
  body {
    min-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    min-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 425px;
  }
  .marginX80{
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  body {
    min-width: 320px;
  }
}
