* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
nav,
img,
body,
figure,
section,
article,
span, ul, li {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li *:last-child {
  margin-bottom: inherit;
}

li > ul {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
}

a:hover {
  text-decoration: none;
}


img {
  vertical-align: middle;
}

body {
  font-family: 'Helvetica';
  font-size: 16px;
  line-height: 1.2;
}

h1{
  font-family: 'Helvetica';
  font-weight: 900;
}

h2, h3, h4, h5, h6{
  font-family: 'Helvetica';
  font-weight: 500;
}


ul {
  list-style-type: none;
}


.darkThemeT002{
  a {
    color: white;
  }
  a:hover {
    color: #888888;
  }
}

.d-width-x-80{
  margin: 0 auto;
  width: 80%;
}
.d-width-x-100{
  margin: 0 auto;
  width: 100%;
}

.y-center{
  display: flex;
  align-items: center;
}

.d-row{
  display: flex;
}



@media screen and (max-width: 1440px) {
  body {
    min-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    min-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 425px;
  }
  .m-width-x-80{
    margin: 0 auto;
    width: 80%;
  }
  .m-width-x-100{
    margin: 0 auto;
    width: 100%;
  }

  .m-width-x-90{
    margin: 0 auto;
    width: 90%;
  }

  .m-column{
    display: flex;
    flex-direction: column;
  }
  
}

@media screen and (max-width: 425px) {
  body {
    min-width: 370px;
  }
}
